body{
	background-color:#dfe3ee;
}

#one
{
border:none;
height:60px;
width:1500px;
position:absolute;
top:0px;
left:0px;
background-color:#3b5998;
color:white;
font-size:45px;
padding-left:80px;
padding-top:25px;
font-family:verdana;
}


#form1
{
border:none;
height:100px;
width:100px;
position:absolute;
top:20px;
left:700px;
color:white;
font-family:verdana;
font-size:13px;
}

#form2
{
	border:none 5px red;
height:100px;
width:100px;
position:absolute;
top:20px;
left:900px;
color:white;
font-family:verdana;
font-size:13px;
	
}
a{
	color:white;
	font-size:10px;
}
a:hover{
	color:green;
}

#submit1
{
	position:absolute;
	top:35px;
	left:1100px;

}

#extra
{
	border:none;
	position:absolute;
	top:100px;
	left:80px;
	font-family:verdana;
	font-size:17px;
	background-color:#dfe3ee;

	
}



b{
	font-size:30px;
	
}

#form3
{
	font-family:verdana;
	color:black;
	border:none;
	position:absolute;
	top:100px;
	left:700px;
	background-color:#dfe3ee;
	
	
}
#mailbox
{
	width:368px;
	height:30px;
}

#password1
{
	width:368px;
	height:30px;
}

#signup
{
	width:130px;
	height:50px;
	background-color:green;
	font-size:18px;
	color:white;
	border:none;
	border-radius:2px;
	
}

#reset
{
	width:130px;
	height:50px;
	font-size:18px;
	border-radius:2px;
}

.name
{
	width:180px;
	height:30px;
}

p
{
	font-size:15px;
}

e{
	font-size:15px;
}


g
{
	color:blue;
}

g:hover
{
	color:green;
}
